
  @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
   /*--primary-dark:#2D434D;*/
    --white:#fff;
    --text-black: #231f20;
    --text-grey: #58595b;
    --text-maroon:  	#ab1b42;
    
    --lightest-grey:#f5f5f5;

    --ua-red:#ee2e5a;
    --ua-maroon:#ab1b42;
    --ua-gray:#58595b;
    --ua-black:#231F20;
    --ua-cream:#fffbd3;
    --ua-green:#a0c33b;
    --ua-yellow:#febe10;
    --ua-pink:#e30b7c;
    --ua-aqua:#00accd;
    --ua-blue:#3c3a73;

    --ua-header-red-large:#e1295a;
    --ua-header-green-large:#667f3c;
    --ua-header-yellow-large:#b36206;
    --ua-header-pink-large:#e30b7c;
    --ua-header-aqua-large:#0381a2;

    --ua-header-red:#b0123d;
    --ua-header-maroon:#ab1b42;
    --ua-header-gray:#58595b;
    --ua-header-black:#231f20;
    --ua-header-green:#4f5f28;
    --ua-header-yellow:#8b4702;
    --ua-header-pink:#ae0167;
    --ua-header-aqua:#0f607f;
    --ua-header-blue:#3c3a73;
    --default-font: 'Montserrat', sans-serif !important;

}

body{
    background-color:var(--white);
    font-family: var(--default-font);
    color:var(--text-black);
}

a{
  color:var(--text-maroon);
}
a:hover{
  color:#3c3a73;
  text-decoration:underline;
}



h2{
  color:var(--ua-header-blue);
}

h3{
  font-size:1.5rem;
}
h4{
  font-size:1.25rem;
}
h5{
  font-size:1.15rem
}

ul.spaced-out-list li{
  margin-bottom:2.5%;
}

blockquote{
  font-size: 1.25rem;
  width:80%;
  margin:50px auto;
  font-style:italic;
  color: var(--ua-black);
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid var(--ua-aqua) ;
  line-height:1.6;
  position: relative;
  background:var(--ua-cream);
}

.chalice-logo{
  width:100px;
  height:auto;
}
.header-text-container{
  text-align: center;
}

.hide-on-screen{
  display:none;
}

blockquote::before{
  content: "\201C";
  color:var(--ua-aqua) ;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.menu-image-title-after > span {
    display: flex;
    align-items: center;
    }

  .front-header{
    background-image:linear-gradient(to bottom, rgba(60, 58, 115, 0.30), rgba(60, 58, 115, 0.70)),
    url("assets/img/unitarian-building.jpg");
    padding:8% 0;
    background-size:cover;
    background-position: center center; 
    
  }

  .main-header{
    margin-bottom:2.5%;
  }

  .rainbow-box{
    width:100%;
    height:2px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
    flex-direction:column;
  }

  .header-logo{
    width:100px;
    height:auto;

  }
  h1.non-front{
    margin:2% 0;
    font-weight:bold;
  }
  .aspect-3-2{
    aspect-ratio: 16 / 9;
    object-fit:cover;
    overflow:hidden;
  }

  
  .header-title{
    color:var(--white);
    font-weight:600;
    margin:0;
    text-align:center;
  }
  .header-logo{
    margin:0 auto;
    text-align:center;
  }
  .header-subtitle{
    font-family: var(--default-font);
    color:var(--white);
    margin:0;
    text-align:center;
  }
  .header-text-container{
    margin-left:2%;
  }

  main.main-container{
    margin:0;
    margin-bottom:2.5%;
    padding:0;
  }

  

.home-youtube-wrapper{
  text-align: center;

}
.mec-container > h1{
  display:none;
}

.mec-container{
  padding:2% 0;
}
.mec-venue-details > span{
  display:inline-block;
  width:calc(100% - 30px);
}
.mec-event-address span {
  display: block;
}
.mec-event-footer a {
  text-decoration: none;
}

div.mec-totalcal-view span.mec-totalcalview-selected {
  color: white !important;
}

article.mec-event-article {
  border-radius: 5px;
  overflow: hidden;
}
section.mec-container div.mec-totalcal-view .mec-totalcalview-selected{
  color:white;
}
article.mec-event-article .mec-event-content div.mec-event-description{
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

article.mec-single-event .mec-event-social li.mec-event-social-icon a{
  border-radius:50%;
}


article.mec-single-event .mec-events-event-image img{
  height:350px;
  object-fit:cover;
  width:100%;
}

article.mec-event-article .mec-event-image img{
  width:100%;
  height:auto;
  max-height: 350px;
  object-fit: cover;
}

.mec-related-events {
  display: flex;
  justify-content: center;
}

.mec-credit-url,.nocomments{
  display:none;
}

/*

article.mec-event-article .mec-event-image img.attachment-thumblist.size-thumblist.wp-post-image{
  width:100%;
  height:100px;
  object-fit:cover;
}






.mec-tooltip-event-featured img{
  width:100%;
  height:100px;
  object-fit:cover;

}

.mec-tooltip-event-featured img, .mec-calendar-topsec .mec-calendar-side .mec-month-side .mec-calendar-events-sec .mec-event-image img{
  width:100%;
  height:100px;
  object-fit:cover;
} 

.mec-event-tile-view article.mec-tile-item .mec-event-title a{
  text-decoration:none;
}
*/
div.mec-event-tile-view article.mec-tile-item .mec-event-title a:hover{
  text-decoration:none;
  color:var(--ua-red);
}

footer{
  min-height:250px;
  background-color:var(--lightest-grey);
  
}

footer h1,footer h2, footer h3,footer h4,footer h5{
  
}

footer .footer-container{
  padding:2%;
  display:flex;
  flex-wrap:wrap;

  justify-content:space-between;
}
footer .footer-container div{
  margin: 5% 1%;
  flex-basis: 22%;
  margin-top:5%;

}

@media only screen and (max-width: 1000px) {

  footer div.footer-container div{
    flex-basis:48%;
  }
}
@media only screen and (max-width: 800px) {

  footer div.footer-container div{
    min-width:98%;
  }
}


footer a{
 
  text-decoration:none;
}

footer a:hover{
  text-decoration:underline;
 
}

footer ul{
  margin:0;
  padding:0;
}
footer ul li ul{
  padding-left:5%;
}
footer ul li{
  list-style-type:none;
}
footer ul li ul li{
  list-style-type:circle;
}

footer .dashicons::before {
  
  font-size: 25px;
  color: white;
  
  border-radius: 50%;
  padding: 40%;
  display: inline-block;
  margin: 10%;
}
footer .dashicons-facebook-alt::before{
  background-color: #4267B2;
 
}
footer .dashicons-linkedin::before{
  background-color:#0077b5;
}
footer .dashicons-instagram::before{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  
}

footer .dashicons-twitter::before{
  background-color:#1DA1F2;
}

footer .dashicons-youtube::before{
  background-color: #FF0000;
}
footer div.social-footer{
  margin-bottom:5%;
}
footer div.social-footer ul {
  display: flex;
  }
  footer div.social-footer ul li {
  width: calc(40px + 3%);
  }

  .pagination-links {
    display: flex;
    justify-content: center;
    width:100%;
    }

    .pagination-links div{
      
      width:100%;
    }

    .pagination-links a{
      text-decoration:none;
      color:white;
      background-color:var(--ua-maroon);
      width:90%;
      border-radius:5px;
      padding:2.5%;
      margin:2.5%;
      display: block;
  text-align: center;
    }
    .pagination-links a:hover{
      text-decoration:none;
      background-color:var(--ua-header-blue);
    }

    .hold-no-posts{
      display:flex;
    }


    .bordered{
      border:1px solid black;
    }

    