@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
   /*--primary-dark:#2D434D;*/
    --white:#fff;
    --text-black: #231f20;
    --text-grey: #58595b;
    --text-maroon:  	#ab1b42;
    
    --lightest-grey:#f5f5f5;

    --ua-red:#ee2e5a;
    --ua-maroon:#ab1b42;
    --ua-gray:#58595b;
    --ua-black:#231F20;
    --ua-cream:#fffbd3;
    --ua-green:#a0c33b;
    --ua-yellow:#febe10;
    --ua-pink:#e30b7c;
    --ua-aqua:#00accd;
    --ua-blue:#3c3a73;

    --ua-header-red-large:#e1295a;
    --ua-header-green-large:#667f3c;
    --ua-header-yellow-large:#b36206;
    --ua-header-pink-large:#e30b7c;
    --ua-header-aqua-large:#0381a2;

    --ua-header-red:#b0123d;
    --ua-header-maroon:#ab1b42;
    --ua-header-gray:#58595b;
    --ua-header-black:#231f20;
    --ua-header-green:#4f5f28;
    --ua-header-yellow:#8b4702;
    --ua-header-pink:#ae0167;
    --ua-header-aqua:#0f607f;
    --ua-header-blue:#3c3a73;

}

body{
    background-color:var(--white);
    font-family: 'Merriweather Sans', sans-serif;
    color:var(--text-black);
}

a{
  color:var(--text-maroon);
}
a:hover{
  color:#3c3a73;
  text-decoration:underline;
}

h2{
  color:var(--ua-header-blue);
}

h3{
  font-size:1.5rem;
}
h4{
  font-size:1.25rem;
}
h5{
  font-size:1.15rem
}

ul.spaced-out-list li{
  margin-bottom:2.5%;
}

blockquote{
  font-size: 1.25rem;
  width:80%;
  margin:50px auto;
  font-style:italic;
  color: var(--ua-black);
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid var(--ua-aqua) ;
  line-height:1.6;
  position: relative;
  background:var(--ua-cream);
}

blockquote::before{
  content: "\201C";
  color:var(--ua-aqua) ;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

.menu-image-title-after > span {
    display: flex;
    align-items: center;
    }

  header.front-header{
    background-image:linear-gradient(to bottom, rgba(60, 58, 115, 0.30), rgba(60, 58, 115, 0.70)),
    url("assets/img/unitarian-building.jpg");
    padding:8% 0;
    background-size:cover;
    background-position: center center; 
    
  }

  header.main-header{
    margin-bottom:2.5%;
  }

  .rainbow-box{
    width:100%;
    height:2px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
    flex-direction:column;
  }

  .header-logo{
    width:100px;
    height:auto;

  }
  h1.non-front{
    margin:2% 0;
  }
  .header-title{
    color:var(--white);
    font-weight:400;
    margin:0;
    text-align:center;
  }
  .header-logo{
    margin:0 auto;
    text-align:center;
  }
  .header-subtitle{
    font-family: 'Merriweather', serif;
    color:var(--white);
    margin:0;
    text-align:center;
  }
  .header-text-container{
    margin-left:2%;
  }

  main.main-container{
    margin:0;
    margin-bottom:2.5%;
  }

  

.home-youtube-wrapper{
  text-align: center;

}

.mec-events-event-image img{
  width:100%;
  height:350px;
  object-fit:cover;
}

article.mec-single-event .mec-event-social li.mec-event-social-icon a{
  border-radius:50%;
}

.mec-credit-url,.nocomments{
  display:none;
}


.mec-tooltip-event-featured img{
  width:100%;
  height:100px;
  object-fit:cover;

}

.mec-event-tile-view article.mec-tile-item .mec-event-title a{
  text-decoration:none;
}
div.mec-event-tile-view article.mec-tile-item .mec-event-title a:hover{
  text-decoration:none;
  color:var(--ua-red);
}

footer{
  min-height:250px;
  background-color:var(--lightest-grey);
  
}

footer h1,footer h2, footer h3,footer h4,footer h5{
  
}

footer .footer-container{
  padding:2.5%;
  display:flex;
  gap:10%;
}


footer a{
 
  text-decoration:none;
}

footer a:hover{
  text-decoration:underline;
 
}

footer ul{
  margin:0;
  padding:0;
}
footer ul li ul{
  padding-left:5%;
}
footer ul li{
  list-style-type:none;
}
footer ul li ul li{
  list-style-type:circle;
}