@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
   /*--primary-dark:#2D434D;*/
   --primary-dark:rgb(57, 47, 90);
    --accent-dark:rgb(128, 18, 5);
    --primary-light:rgb(167, 221, 196);
    --accent-light:#EF9E80;
    --white:#fff;
    --bg-lightest:#FAF6EC;
}

body{
    background-color:var(--white);
    font-family: 'Merriweather Sans', sans-serif;
}

.menu-image-title-after > span {
    display: flex;
    align-items: center;
    }

  header{
    background-image:linear-gradient(to bottom, rgba(57, 47, 90,0.52), rgba(167, 221, 196, 0.73)),
    url("assets/img/unitarian-building.jpg");
    padding:8% 0;
    background-size:cover;
 
  }

  .rainbow-box{
    width:100%;
    height:2px;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:2%;
  }

  .header-logo{
    width:75px;
    height:75px;

  }

  .header-title{
    color:var(--white);
    font-weight:400;
    margin:0;
  }
  .header-subtitle{
    font-family: 'Merriweather', serif;
    color:var(--white);
    margin:0;
  }
  .header-text-container{
    margin-left:2%;
  }

  main.main-container{
    margin:2.5% 0;
  }

  

